body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.prof_img{
  width: 150px;
  border-radius: 50%;
}
a{
  width: 95%;
  padding: 10px 20px;
}
button{
  cursor: pointer;
  padding: 10px;
  width: 100%;
}
footer{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
}
footer img{
  width: 125px;
  height: 70px;
}
hr{
  margin-top: 30px ;
  width: 90%;
}

@media screen and (max-width: 450px){

  footer{
  display: inline-block;
}
}


